*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

body {
  background: #b4ada9;
}

header {
  position: fixed;
  width: 100%;
  height: 90px;
  background: #000000;
}

.maintitle{
  font-size: 80px;
  margin-top: 150px;
}

.title{
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#nav{
  position: absolute;
  height: 100vh;
  width: 40%;
  left: -40%;
  top: 0;
  background: #ffffff;
  transition: .7s;
  z-index: 10;
}

#nav ul{
  padding-top: 130px;
}

#nav ul li{
  list-style-type: none;
  font-size: 25px;
}

#nav a{
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 15px;
  padding: 10px;
  transition: .5s;
}
#nav li a:hover{
  color: white;
  background: #66FFFF;
  border-bottom: none;
  border-radius: 6px;
}

#hamburger {
  display: block;
  position: absolute;
  top: 80px;
  left: 30px;
  width: 50px;
  height: 44px;
  cursor: pointer;
  transition: 1s;
  z-index: 10
}

#hamburger:hover{
  opacity: 0.4;
}

.inner_line {
  display: block;
  position: absolute;
  left: 0;
  width: 50px;
  height: 3px;
  /*background-color: #ffffff;*/
  background-color: black;
  transition: 1s;
  border-radius: 4px;
}

#line1 {
  top: 0;
}

#line2 {
  top: 20px;
}

#line3 {
  bottom: 0px;
}

.in{
  transform: translateX(100%);
}

.line_1,.line_2,.line_3{
  background: #000000;
}

.line_1 {
  transform: translateY(20px) rotate(-45deg);
  top: 0;
}

.line_2 {
  opacity: 0;
}

.line_3 {
  transform: translateY(-20px) rotate(45deg);
  bottom: 0;
}
  
.backcolor{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: #C0C0C0;
  opacity: 0.85;
}

.frame{
  width: 200px;
  height: 200px;
  background-color: #66FFFF;
  border-radius: 5px;
  border: solid 5px #333;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.frame.show{
  display: none;
}

.frame a{
  display: block;
  font-size: 30px;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.form {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.form input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	text-align: left;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #ffffff;
	box-shadow: 1px 1px 2px 0 #707070 inset;
	border-radius: 4px;
}

.form input[type='text']:focus {
	outline: none;
	box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.form textarea {
  font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	text-align: left;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #ffffff;
	box-shadow: 1px 1px 2px 0 #707070 inset;
	border-radius: 4px;
}

.form textarea:focus {
	outline: none;
	box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.cr_content{
  width: 80%;
  margin: 30px auto;
  padding: 8px 16px;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.cr_flex{
  display: flex;
  gap: 5%;
}

.cr_content h2{
  margin-top: 30px;
}

.cr_left{
  width: 60%;
  /*border-radius: 50% 20% / 10% 40%;*/
  border-radius: 10px;
}

.cr_text{
  width: 90%;
  height: 70px;
  z-index: 1;
  margin-top: 10px;
  border-radius: 10px;
}

.cr_right{
  width: 30%;
  border-radius: 10px;
  /*border-radius: 50% 20% / 10% 40%;*/
}

.cr_answer{
  width: 90%;
  height: 70px;
  margin-top: 10px;
  border-radius: 10px;
}

.cr3_question textarea {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	text-align: left;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #ffffff;
	box-shadow: 1px 1px 2px 0 #707070 inset;
	border-radius: 4px;
}

.submit{
  text-align: right;
  margin-top: 15px;
}

.submit input{
  padding: 8px;
  background: #f44336;
  user-select: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 0 #d1483e;
}

.submit input:active{
  margin-top: 4px;
  box-shadow: none;
}

.option_flex{
  width: 80%;
  margin: 10px auto;
  gap: 3%;
  display: flex;
}

.option_flex div{
  width: 32%;
}

.option_flex div input{
  width: 100%;
}

.sh_flex{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  gap: 10px 5%;
}

.sh_image{
  width: 10%;
}

.sh_content{
  width: 30%;
  padding: 10px;
  color: #5d627b;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.sh_content p{
  overflow-wrap: break-word;
}

.sh_answer{
  display: flex;
  width: 90%;
  margin: 15px auto;
}

.sh_answer .answer{
  width: 70%;
}

.sh_answer .submit{
  margin: 0;
  width: 30%;
}

.sh_answer .submit input{
  width: 100%;
  border-radius: 5px;
}

.frame h1{
  font-size: 45px;
  color: red;
  margin-top: 25px;
  font-weight: bold;
}

.frame p{
  font-size: 25px;
  border: 3px solid black;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 35px;
  margin-top: 10px;
}

#hidden.hidden{
  display: none;
}


.de_content{
  margin: 30px auto 0;
  width:60%;
  padding: 10px;
  color: #5d627b;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.de{
  border: 3px solid black;
  display: inline-block;
  width: 90%;
  border-radius: 5px;
  margin: 10px 0 20px;
  padding: 10px;
}

.de.comment{
  margin-bottom: 5px;
}

.paginate li{
  display: inline-block;
  margin-top: 10px;
}

.de_text{
  width: 100%;
}

.comment_write{
  margin-top: 10px;
}

.my_flex{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  gap: 10px 5%;
}

.my_flex p{
  overflow-wrap: break-word;
  border: 3px solid black;
  margin-bottom: 10px;
}

.my_content{
  width: 30%;
  padding: 10px;
  color: #5d627b;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.my_option{
  display: flex;
}

.my_right{
  margin-left: auto;
}

.my_option .btn{
  padding: 8px;
  background: #f44336;
  user-select: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 0 #d1483e;
}

.my_option .btn:active{
  margin-top: 4px;
  box-shadow: none;
}